/* Mixin for border radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/* Mixin for transition */
@mixin trans($radius) {
  -webkit-transition: $radius;
     -moz-transition: $radius;
      -ms-transition: $radius;
          transition: $radius;
}